/* CSS Document */
	body {
		background-color: lightslategray;
	}
	.links {
		border: none;
		list-style: none;
		display: inline;
		
	}
	h1 {
		color: azure;
		font-family: Consolas;
	}
	p {
		color: white;
		font-family: Verdana;
	}